<mat-toolbar color="primary">
  <span>Angular Formly</span>
</mat-toolbar>

<div class="container">

  <form [formGroup]="contactForm" (ngSubmit)="submit(contactModel)">
    <formly-form [model]="contactModel" [fields]="contactFields" [form]="contactForm">
      <button [disabled]="contactForm.invalid" type="submit" mat-raised-button>Submit</button>
    </formly-form>
  </form>


  <div class="code">
    <h1>Model</h1>
    <pre>Contact: {{contactModel | json}}</pre>
    <pre>Form valid: {{contactForm.valid}}</pre>
  </div>
  
</div>